

body{
    background-color: white;
}
#header{
font-size: 200%;
font-family: 'Roboto', sans-serif;
background-color: #9c0000;
margin: 0% 0% 2% 0%;
padding: 1% 5% 1% 5%;
position:sticky;
}
img{

}

#logo{
    width:3%;
    height:auto;
    margin-left:auto;
    display: block;
}

.imgmain{
    width:250px;
    height:auto;
}

#home-title{padding:0 60px; color:white;}

h1{
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}

h2{font-size: 20px;}

p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.main-content{
padding-left:5%;
margin: 0% 20% 30% 20%;
padding: 1% 5% 1% 5%;
background-color: white;
border-radius:20px;
}

h2{font-family: 'Roboto', sans-serif;}

#links{
    padding: 1% 5% 1% 5%;
    margin-top:-2%;
    margin-bottom:2%;
    background-color: white;
    width:100%;
    height:auto;
    text-align:center;
    box-shadow: 0px 5px 20px 1px #dfdfdf;
    position: sticky;
}



a{
    font-family: 'Roboto', sans-serif;
    margin-right:15px;
}

.linktext{
    color:black;
    font-weight:bold;
}

#side-bar{

}
