

body{
    background-color: beige;
}
#header{
font-size: 200%;
font-family: 'Roboto', sans-serif;
background-color:white;
}

#home-title{padding:0 60px;}

h1{
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}

h2{font-size: 20px;}

p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.main-content{
padding-left:5%;
margin: 0% 20% 30% 20%;
background-color: white;
border-radius:20px;
}

h2{font-family: 'Roboto', sans-serif;}

#footer{
    padding-left:5%;
    margin: 0% 20% 30% 20%;
    background-color:white;
    border-radius: 20px;
}

a{font-family: 'Roboto', sans-serif;}

#side-bar{

}
