body {
  background-color: white;
}
#header {
  background-color: #9c0000;
  padding: 1% 5% 1% 5%;
  margin: 0 0 20px 0;
  width: 100%;
  box-shadow: 0px 5px 20px 1px #dfdfdf;
  position: fixed;
  z-index: 999;
}


.logo {
  width: 250px;
  height: auto;
  float: left;
}

.imgSmall{
    width: 50%;
    height:auto;
    margin-bottom: 5%;
    border: 3px solid;

    border-radius: 10px;
}

.imgmain {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  border: 3px solid;

  border-radius: 10px;
}

#home-title {
  padding-left: 5%;
  color: white;
  float: left;
}

h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight:bold;
}
.h2Heading{
    font-size:30px;
}

p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

#main-content {
  margin: 0% 20% 30% 20%;
  padding: 10% 5% 1% 5%;
  background-color: white;
  border-radius: 20px;
}

.boxCascade{
    display:flex;
}
.box{
    padding:1%;
    width:50%;
    height:auto;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: black;
}

/*#links{
    padding: 1% 5% 1% 5%;

    background-color: white;
    width:100%;
    height:auto;
    text-align:center;
    box-shadow: 0px 5px 20px 1px #dfdfdf;

    position: fixed;
}*/

a {
  font-family: "Roboto", sans-serif;
  margin-right: 15px;
}

.linktext {
  color: white;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

li{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

